<! DOCTYPE html>
<html>
	<head>
		<title>Object Detection</title>
		<script type='text/javascript'>
			var pass_count = "pass bhayo value"
			pass_count = 245222
			var dict = {
				'key': ['Pass', pass_count],
				'key2': {'key21': ['hi', pass_count]}
			}
			console.log(pass_count)
			console.log(dict)
			function encodeImageFileAsURL() {

			    var filesSelected = document.getElementById("inputFileToLoad").files;
			    console.log(filesSelected)
			    if (filesSelected.length > 0) {
			     	var fileToLoad = filesSelected[0];

			      	var fileReader = new FileReader();

				    fileReader.onload = function(fileLoadedEvent) {
				    var srcData = fileLoadedEvent.target.result; // <--- data: base64
			     	console.log(srcData)

			        var newImage = document.createElement('img');
			        newImage.src = srcData;

			        document.getElementById("imgTest").innerHTML = newImage.outerHTML;
			        document.getElementById("base64_value").value = srcData;
			      }
			      fileReader.readAsDataURL(fileToLoad);
			    }
			  }

            function detect() {
                alert("here...");
                console.log("here...");
            }
		</script>
		<style>
			body
			{
			 width:100%;
			 margin:0 auto;
			 padding:0px;
			 background: url('static/images/artificial-intelligence-background-6.png') #ccc;
			}
			#wrapper
			{
			 text-align:center;
			 margin:0 auto;
			 padding:0px;
			 width:995px;
			 margin-top:5%;
			}
			#output_image
			{
			 max-width:300px;
			}
			.btn_submit{
			 width: auto;
			 height:40px;
			 border-radius: 5px;
			 background: #382063;
			 border: none;
			 color: #fff;
			 padding: 5px;
			}
			.btn_submit:hover{
			 background: #57427e;
			}
			.scope{
				text-align: left;
			}
			#imgTest img{
				width:640px;
				width:480px;
			}
		
		</style>
	</head>
<body>
	<div id="wrapper">
		<img src="static/images/logo_mpercept_white.png" width="200px" height="55px"/>
		<h1>Object Detection In Image</h1>
		<p>This demo detects various objects in image. This is computer vision solution. You can upload images containing different objects like car, people or any other objects. Bounding box is created over the objects along with accuracy.</p>
		<form action="/upload" method="post" id="myform" >
			 	Take Your Image File: 
				<input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" accept="image/x-png,image/jpg,image/jpeg"  /><hr>
				<div id="imgTest"></div>
				<br><hr>
				<input type="text" id="base64_value" name="data" />
			 	<input type="submit" value="Detect Objects Now" class="btn_submit" />
		</form>

		<input type="text" id="encode_base64" value="{{data}}">
		
		<h2 class="scope"> Areas(Scope) where Object dectection can be Used </h2>
		<ol class="scope">
			<li>Face Detection</li>
			<li>People Counting</li>
			<li>Vehicle Detection</li>
			<li>Security</li>
			<li>Traffice Control</li>
			<li>Manufacturing Industry</li>
			<li>Drone Technology</li>
			
		</ol>
	</div>
</body>
